<div class="jumbotron mt-4">
  <h1 class="display-4 mx-auto">CryptoMen</h1>
  <p class="lead">This is a simple app to manage notes developed with NODEJS, EXPRESS, MONGODB and JAVASCRIPT Technologies</p>
  <ul>
    <li>
      Check The Notes
    </li>
    <li>
      Create Notes
    </li>
    <li>
      Edit Notes
    </li>
    <li>
      Delete Notes
    </li>
  </ul>
  <hr class="my-4">
</div>
